@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Roboto+Mono&family=Roboto+Slab&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: thistle;
    font-family: 'Dancing Script', cursive;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nome-jogo{
    font-size: 2.8em;
    margin-top: 20px;
}

.jogadores{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-size: 1.8em;
    margin-top: 15px;
    border: 1px solid rgb(76, 76, 182);
}

#jogador1{
    margin-right: 20px;
}

#jogador2{
    margin-left: 20px;
}

.jogo-da-velha{
    margin-top: 15px;
}

.img-jogo{
    background-image: url("../img/jogo_da_velha.png");
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 330px;
    margin-top: 2px;
}

#row > button{
    display: flex;
    border: none;
    background-color: thistle;
    cursor: pointer;
    width: 80px;
    height: 80px;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

#posicao-00{
    background-image: url("../img/none.png");
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
}
#posicao-01{
    background-image: url("../img/none.png");
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
}
#posicao-02{
    background-image: url("../img/none.png");
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
}
#posicao-10{
    background-image: url("../img/none.png");
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
}
#posicao-11{
    background-image: url("../img/none.png");
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
}
#posicao-12{
    background-image: url("../img/none.png");
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
}
#posicao-20{
    background-image: url("../img/none.png");
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
}
#posicao-21{
    background-image: url("../img/none.png");
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
}
#posicao-22{
    background-image: url("../img/none.png");
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
}

#novoJogo{
    margin-top: 50px;
    border: none;
    background-color: thistle;
    font-family: 'Dancing Script', cursive;
    font-size: 1.4em;
}