/* Estilo Comum para todas as Páginas*/
body{
    margin: 0;
    background-color: black;
}

/* Estilo Página o_jogo.html*/
.regras{
    color: white;
    border: 1px solid white;
    text-align: justify;
    padding: 15px;
    width: 700px;
    height: 300px;
}

#exemplo{
    padding-left: 2em;
    list-style-type: none;
}

div > a{
    padding-left: 40%;
}

#comecar{
    width: 90px;
    height: 50px;
    border-radius: 10px;
    font-size: large;
}

#comecar:hover{
    background-color: rgb(63, 62, 62);
}

/* Estilo Página o_comeco.html*/
.container{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 20px;
}

.campo-imagem{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

img{
    max-width: 100%;
    max-height: 100%;
    border: 1px solid rgb(37, 37, 37);
}

video{
    border: 1px solid rgb(37, 37, 37);
}

.campo-resposta{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 70px;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
}

#answer{
    font-family:'Courier New', Courier, monospace;
    font-size: 14px;
}

#btn{
    height: 70px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: rgb(17, 48, 43);
    -moz-user-select: all;
}
#btn:active {
    background-color: #1d5a1f;
    box-shadow: 1px #666;
    transform: translateY(1px);
  }

/* Estilo Página Yesterday.html*/
.texto1{
    width: 400px;
}

#canto-3{
    margin-left: 15px;
    color: white;
}

.texto2{
    width: 400px;
}

#cifra-LPL{
    text-align: center;
    color: white;
}

/* Estilo Página upon_the_stair.html*/
.left{
    font-size: 1.2em;
    text-align: center;
    width: 300px;
    margin-left: 40px;
}

.right{
    font-size: 1.2em;
    text-align: center;
    width: 300px;
    margin-right: 40px;
}

.img-platao{
    text-align: center;
}

#platao{
    width: 80%;
    height: 80%;
}

area{
    cursor: pointer;
}

#FIM{
    color: white;
    font-size: 4em;
}

@media screen and (max-width: 320px){
    .regras{
        max-width: fit-content;
        height: 400px;
    }
}

@media screen and (max-width: 420px){
    .regras{
        max-width: fit-content;
        height: 400px;
    }
}

@media screen and (max-width: 520px){
    .regras{
        max-width: fit-content;
        height: 400px;
    }
}

@media screen and (max-width: 720px){
    .regras{
        max-width: fit-content;

    }
}